.AboutPage {
	// padding: 0 10rem;
	padding-bottom: 50px;
	@media (max-width: 450px) {
		padding-bottom: 80px;
	}

	&Header {
		text-align: center;
		font-size: 48px;
		color: #333;
		margin-bottom: 4rem;
		margin-top: -2rem;
		@media (max-width: 700px) {
			font-size: 32px;
			margin-bottom: 2rem;
		}
	}

	&Section {
		background-color: #fff;
		&Header {
			text-align: center;
			font-size: 36px;
			font-weight: 400;
			color: #333;
			margin: 0;
			padding-top: 2rem;
			@media (max-width: 700px) {
			font-size: 26px;
		}
		}

		&List {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			height: 100%;
			margin-top: 4rem;
			padding: 0 4rem;

			@media (max-width: 800px) {
				flex-direction: column;
				align-items: center;
				margin-top: 1rem;
			}
			@media (max-width: 600px) {
				padding: 0;
			}
		}
	}
}

.IndividualCard {
	width: 15%;
	height: 350px;
	margin: 0;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.2s ease-in-out;
	border-top: 15px solid transparent;
	padding-top: 1rem;
	&:hover {
		border-top: 15px solid #0076d5;
		box-shadow: 0 0 5px 5px rgb(23 54 71 / 20%);
		background-color: #fff;
	}
	@media (max-width: 1500px) {
		width: 30%;
	}
	@media (max-width: 1200px) {
		padding: 1rem;
		height: 300px;
	}
	@media (max-width: 1000px) {
		height: 300px;
		width: 50%;
		padding: 1rem 5rem;
	}
	@media (max-width: 800px) {
		padding: 1rem 2rem;
		height: 100%;
		width: 60%;
	}
	@media (max-width: 430px) {
		height: 100%;
		width: 100%;
	}

	&DarkHover {
		&:hover {
			background-color: #ddd;
			box-shadow: 0 0 5px 5px rgb(23 54 71 / 20%) inset;
		}
	}

	&Icon {
		width: 100%;
		height: 100%;
		&Container {
			width: 75px;
			height: 75px;
		}
	}

	&TextContainer {
		padding-top: 2rem;
	}

	&Text {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 300;
		text-align: center;
		margin: 0;
		color: #555;
	}
}

.RoadmapBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 20%;
	margin-right: 2%;
	@media (max-width: 1000px) {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&Info {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 400px;
		width: 80%;
		margin-right: 2%;
		@media (max-width: 1400px) {
			height: 375px;
		}
		@media (max-width: 1000px) {
			height: 100%;
			width: 60%;
			margin-right: 0;
		}
		&Text {
			font-size: 20px;
			text-align: center;
		}

		&Icon {
			width: 100px;
			height: 100px;
			@media (max-width: 1000px) {
				width: 50px;
				height: 50px;
			}
			&Container {
				padding: 2rem;
				background-color: #fff;
				border-radius: 100px;
				border: 5px solid rgba(#0076d5, 0.3);
				@media (max-width: 1400px) {
					padding: 1rem;
				}
			}
		}
	}

	&ArrowIcon {
		width: 75px;
		height: 75px;
		// @media (max-width: 1400px) {
		// 	height: 100px;
		//     width: 100px;
		// }
		@media (max-width: 1000px) {
			transform: rotate(90deg);
			margin-bottom: 2rem;
			width: 50px;
			height: 50px;
		}
	}
}
