.Home {
	// padding-bottom: 300px;
	max-width: 100vw;
	&Header {
		height: 100vh;
		background-image: url("/assets/shared/banner-msm.jpeg");
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -350px;
		transform: skew(0deg, -5deg);
		z-index: -1;
		padding-left: 100px;
		@media (max-width: 700px) {
			padding-left: 50px;
		}

		&Logo {
			width: 500px;
			padding-top: 150px;
			@media (max-width: 700px) {
				width: 100%;
				margin-left: -1rem;

			}
		}

		&Text {
			height: 100px;
			font-size: 9rem;
			font-weight: 200;
			line-height: 9rem;
			margin: 4rem 0;
			color: #52bae6;

			@media (max-width: 900px) {
				font-size: 6rem;
			}

			@media (max-width: 600px) {
				font-size: 4rem;
			}
			@media (max-width: 400px) {
				font-size: 3rem;
			}

			&APIText {
				color: #6fbf4b;
				font-weight: 800;
			}

			&Container {
				transform: skew(0deg, 5deg);
				margin: 3rem;
				margin-top: 200px;

				@media (max-width: 800px) {
					margin-left: 0;
				}
			}

			&Subheader {
				font-weight: 400;
				font-size: 2rem;
				color: #ccc;
				@media (max-width: 1000px) {
					font-size: 1.5rem;
				}
			}
		}
	}
}

.FeaturesSection {
	padding-top: 5rem;
	&Header {
		font-size: 5rem;
		color: #333;
		font-weight: 900;
		text-align: center;
		padding-top: 50px;
	}

	&List {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		height: 100%;
		margin-top: 4rem;
		background-color: #ddd;

		@media (max-width: 1000px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&ShortDescriptionContainer {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		padding: 0 20rem;
		&Text {
			font-size: 22px;
			margin: 0;
			padding: 1rem 0;
			font-weight: 300;
			@media (max-width: 1000px) {
				font-size: 18px;
			}
		}

		@media (min-width: 2000px) {
			padding: 2rem 30rem;
		}
		@media (max-width: 1500px) {
			padding: 0 10rem;
		}
		@media (max-width: 1200px) {
		}
		@media (max-width: 1000px) {
			padding: 0 5rem;
		}
		@media (max-width: 600px) {
			padding: 0 2rem;
		}
	}
}

.IndividualCard {
	width: 25%;
	height: 500px;
	margin: 0;
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.2s ease-in-out;
	border-top: 15px solid transparent;
	&:hover {
		border-top: 15px solid #0076d5;
		box-shadow: 0 0 5px 5px rgb(23 54 71 / 20%);
		background-color: #fff;
	}
	@media (max-width: 1500px) {
		width: 30%;
	}
	@media (max-width: 1200px) {
		padding: 1rem;
	}
	@media (max-width: 1000px) {
		height: 100%;
		width: 100%;
		padding: 3rem 15rem;
	}
	@media (max-width: 800px) {
		padding: 3rem 5rem;
	}
	@media (max-width: 600px) {
		padding: 1rem 2rem;
		width: 100%;
	}
	&Icon {
		width: 150px;
		height: 150px;

		@media (max-width: 700px) {
			height: 100px;
			width: 100px;
		}
	}

	&TextContainer {
		padding-top: 2rem;
	}

	&Text {
		font-size: 18px;
		line-height: 1.4;
		font-weight: 300;
		text-align: center;
		margin: 0;
		color: #555;
	}

	&TextBold {
		font-size: 24px;
		line-height: 1.4;
		font-weight: 500;
		text-align: center;
		margin: 0;
		padding: 1rem 0;
	}
}

.UpcomingEventsSection {
	height: 100%;
	background-image: url("/assets/shared/banner-msm.jpeg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: 500px) {
		padding-bottom: 50px;
	}

	&List {
		width: 60%;
		padding: 2rem;
		@media (max-width: 1600px) {
			width: 80%;
		}
		@media (max-width: 1000px) {
			width: 100%;
		}
	}

	&Header {
		font-size: 5rem;
		color: #ccc;
		font-weight: 900;
		text-align: center;
		padding-top: 50px;
	}
}

.IndividualEvent {
	padding-bottom: 60px;
	&Image {
		border-radius: 4px;
		width: 60%;
	}

	&Title {
		font-size: 28px;
		font-weight: 900;
		color: #ccc;

		@media (max-width: 1200px) {
			font-size: 24px;
		}
		@media (max-width: 700px) {
			font-size: 20px;
		}
	}

	&Date {
		font-size: 24px;
		font-weight: 600;
		color: #ccc;
		padding-bottom: 30px;
		@media (max-width: 1200px) {
			font-size: 20px;
		}
		@media (max-width: 700px) {
			font-size: 16px;
		}
	}

	&Link {
		background-color: #ccc;
		padding: 1rem 3rem;
		border-radius: 50px;
		color: #333;
		font-size: 20px;
		font-weight: 700;
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(1px);
		}

		@media (max-width: 800px) {
			font-size: 16px;
			padding: 1rem 2rem;
		}
		@media (max-width: 600px) {
			font-size: 14px;
		}
	}
}

.VideoSection {
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0;
	padding-bottom: 3rem;

	&Header {
		font-size: 5rem;
		color: #333;
		font-weight: 900;
		text-align: center;
	}

	&Video {
		width: 100%;


		&Container {
			width: 50%;

			@media (max-width: 1200px) {
				width: 100%;
			}
		}
	}
}

.BlogSliderSection {
	max-width: 100vw;
	height: 100%;
	background-image: url("/assets/shared/banner-msm.jpeg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	align-items: center;
	// padding: 0 20rem;
	padding-bottom: 50px;
	// @media (max-width: 1200px) {
	// 	padding: 0 5rem 100px 0;
	// }
	// @media (max-width: 650px) {
	// 	padding: 0 2rem 100px 0;
	// }
	// @media (max-width: 450px) {
	// 	padding: 0 0 100px 0;
	// }

	&List {
		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow-x: hidden;
		overflow-y: hidden;
		width: 90%;
	}

	&Carousel {
		width: 35vw;
		@media (max-width: 1200px) {
			width: 80vw;
		}
		@media (max-width: 800px) {
			width: 100vw;
		}
	}

	&Article {
		position: relative;
		cursor: pointer;
		width: 50%;
		height: 400px;
		@media (max-width: 1550px) {
			height: 300px;
		}
		@media (max-width: 1200px) {
			width: 75%;
		}
		@media (max-width: 800px) {
			width: 90%;
		}
		@media (max-width: 650px) {
			height: 200px;
		}
		&Image {
			width: 100%;
			height: 100%;
			// height: 500px;
			border-radius: 4px;
			object-fit: cover;
			// object-position: left;

		}

		&Title {
			position: absolute;
			bottom: -22px;
			left: 0;
			width: 100%;
			text-align: center;
			padding: 1rem;
			background-color: rgba(#0e4e69, 0.9);
			color: #fff;
			font-size: 22px;
			font-weight: 400;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;

			@media (max-width: 800px) {
				padding: 1rem;
				font-size: 20px;
				font-weight: 400;
				bottom: -20px;
			}
			@media (max-width: 650px) {
				padding: 0.5rem;
				font-size: 14px;
				font-weight: 400;
				bottom: -14px;
			}
		}

		&Author {
			font-size: 20px;
			font-weight: 200;

			@media (max-width: 800px) {
				font-size: 16px;
			}
		}
	}
}

.CodeSection {
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&Button {
		color: #333;
		// background-color: #0076d5;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #333;
		padding: 1rem 2rem;
		border-radius: 4px;
		font-size: 1.6rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: 300;
		margin: 1rem;
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(1px);
		}
		@media (max-width: 488px) {
			width: 70%;
		}
		@media (max-width: 315px) {
			width: 95%;
		}

		&Icon {
			width: 2rem;
			height: 2rem;
			margin-bottom: 0.2rem;
			margin-right: 0.5rem;
		}

		&Container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
	}

	&SubSection {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&List {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&Subheader {
		color: #333;
		font-size: 2.4rem;
		margin-bottom: 2rem;
		@media (max-width: 600px) {
			font-size: 1.8rem;
		}
		@media (max-width: 400px) {
			font-size: 1.6rem;
		}
	}
}

.IndividualContributor {
	&Container {
		background-color: #eee;
		box-shadow: 0 0 2px 2px rgb(23 54 71 / 20%);
		height: 150px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		border-radius: 4px;
		transition: all 0.2s ease-in-out;

		&:hover {
			transform: translateY(-2px);
		}
		&:active {
			transform: translateY(1px);
		}
	}

	&Logo {
		width: 200px;
		@media (max-width: 350px) {
			width: 100px;
		}
		&Container {
			padding: 1rem 3rem 1rem 3rem;
		}
	}
}