@use '../variables' as *;

.Event {
	// height: 547px;
	// background-image: url("/assets/shared/homepageKubecon/Kubecon-1440-bg.svg");
	// background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	// justify-content: center;
    padding-left: 128px;
	position: relative;
    @media (min-width: 1600px) {
		padding-left: 300px;
	}
	@media (min-width: 2000px) {
		padding-left: 500px;
	}
    @media (max-width: 1300px) {
		padding-left: 81px;
	}
    @media (max-width: 640px) {
		padding: 40px 16px;
	}

	&BgImage {
		z-index: -10;
	}

	@media (max-width: 1092px) {
		// background-image: url("/assets/shared/homepageKubecon/Kubecon-1024-bg.svg");
		// height: 758px;
	}
	@media (max-width: 900px) {
		// background-image: url("/assets/shared/homepageKubecon/Kubecon-768-bg.svg");
		height: 100%;
		flex-direction: column-reverse;
		justify-content: flex-end;
		align-items: flex-start;
		padding-top: 50px;
	}

	&Content {
		padding: 72px 48px 109px 0;
		z-index: 10;
		@media (max-width: 1200px) {
			padding-right: 0;
		}
		@media (max-width: 1092px) {
			padding-top: 64px;
			padding-bottom: 0;
		}
		@media (max-width: 900px) {
			padding-top: 0;
			padding-right: 117px;
			// padding-left: 81px;
			padding-bottom: 8px;
		}
		@media (max-width: 640px) {
			padding-top: 0;
			padding-right: 40px;
			// padding-left: 40px;
			padding-bottom: 8px;
		}
		@media (max-width: 500px) {
			padding-right: 22px;
			padding-left: 16px;
		}
		@media (max-width: 440px) {
			padding-right: 1.5px;
			padding-left: 15px;
			margin-top: 24px;
		}

		&Header {
			@include H300;
			margin-bottom: 40px;
			@media (max-width: 900px) {
				@include H200;
				margin-bottom: 40px;
				margin-top: 24px;
			}
		}

		&Column {
			width: 337px;
			margin-right: 16px;
			@media (max-width: 1300px) {
				width: 275px;
			}
			@media (max-width: 1092px) {
				width: 337px;
				margin-bottom: 48px;
			}
			@media (max-width: 900px) {
				width: 100%;
				margin-bottom: 32px;
			}
			&Container {
				display: flex;
				@media (max-width: 1092px) {
					flex-direction: column;
				}
			}

			&Header {
				@include BodyLargeBold;
				margin-bottom: 8px;
			}
			&Text {
				@include BodyLarge;
				margin-bottom: 16px;
			}

			&Divider {
				width: 62px;
				border: 1px solid $gray-05;
				margin-bottom: 8px;
			}

			&Details {
				@include BodyLarge;
				margin-top: 8px;
				& span {
					@include BodyLargeBold;
				}
			}

			&ButtonContainer {
				margin-top: 24px;
			}
		}
	}

	&Image {
		margin: 100px 0 75px 0;
		width: 412px;
		height: 370px;
		position: relative;
		@media (max-width: 900px) {
			margin-bottom: 32px;
			margin-top: 0;
			margin-bottom: 0;
		}
		@media (max-width: 500px) {
			width: 342px;
			height: 310px;
		}
		@media (max-width: 342px) {
			width: 100%;
			height: 230px;
		}
	}
}